# Ignore VCS
.git
.gitignore

# Node
node_modules
apps/*/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds and caches
dist
build
coverage
.cache

# OS/editor junk
.DS_Store
.vscode
.idea

# Env files (copied via Docker build args or handled separately)
.env
.env.*
